<div class="container">
    <header>
        <h2 id="page-title">{{title}}</h2>
    </header>
    <article style="margin-top: 1rem;">
        <div class="parent">
            <div id="map" class="div1"> </div>
            {{#if UpcomingTrip}}
            <div class="div2">
                <h5>Trip Details</h5>
                <p>Starting From: {{trip.id}} </p>
                <p>Going To: </p>
                <p>Travel Time: </p>
            </div>
            {{else if SharedTrip}}
            <div id='trip-details' class="div2">
                <h5>Trip Details</h5>
                <p>Points of Interest: </p>
            </div>
            {{else}}
            <div class="div2">
                <h5>Trip Details</h5>
                <p>Starting From: </p>
                <p>Going To: </p>
                <p>Travel Time: </p>
            </div>
            {{/if}}
        </div>
    </article>
</div>