<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Road Quest</title>

    <link rel="shortcut icon" href="https://picocss.com/favicon.ico">
    <link rel="canonical" href="https://picocss.com/examples/sign-in/">

    <!-- Pico.css -->
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">

    <!-- Custom styles for this example -->
    <link rel="stylesheet" href="../public/css/maps.css">
    <link rel="stylesheet" type="text/css" href="../public/css/style.css" />
    <script type="module" src="../public/js/script.js"></script>

    <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?v=3&libraries=geometry,places&key=AIzaSyAUPZyYJni5F1BhSHCcAAn10FC8pxlLI90&callback=initMap"></script>

</head>

<!-- <li><a href="#" class="contrast">Plan a Trip</a></li>
<li><a href="#" class="contrast">Past Trips 2</a></li>
<li><a href="#" class="contrast">Logout</a></li> -->

<body>

    <!-- Navbar -->
    <nav class="container-fluid">
        <ul>
            <li>
                <details role="list" dir="rtl">
                    <summary class="container" aria-haspopup="listbox" role="link">Menu</summary>
                    <ul role="listbox">
                        <li><a href="#" class="contrast">Plan a Trip</a></li>
                        <li><a href="#" class="contrast">Past Trips</a></li>
                        <li><a href="#" class="contrast">Logout</a></li>
                    </ul>
                </details>
            </li>
        </ul>
        <ul>
            <li><strong>Road Quest</strong></li>
        </ul>
    </nav>
    <!-- Main -->
    <div class="container">
        <header>
            <h2 style="margin-left: 3rem; margin-top: 3rem;">Upcoming Trip</h2>
        </header>
        <article>
            <!-- <div class="grid">
                <div id="map"> Map</div>
                <div> Trip Info</div>
            </div> -->
            <div class="parent">
                <div id="map" class="div1"> </div>
                <div class="div2">
                    <h5>Trip Details</h5>
                    <p>Starting From: </p>
                    <p>Going To: </p>
                    <p>Travel Time: </p>
                </div>
            </div>
        </article>

        <!-- <div class="parent">
            <div id="map" class="div1"> </div>
            <div class="div2">Trip Info</div>
        </div> -->

        

        <!-- <div>
            <hgroup>
                <h1>Sign in</h1>
                <h2>Road Quest - Start your road trip adventure</h2>
            </hgroup>
            <form>
                <input type="text" name="username" placeholder="username" aria-label="username" autocomplete="username"
                    required>
                <input type="password" name="password" placeholder="Password" aria-label="Password"
                    autocomplete="current-password" required>
                <fieldset>
                    <label for="remember">
                        <input type="checkbox" role="switch" id="remember" name="remember">
                        Remember me
                    </label>
                </fieldset>
                <button type="submit" class="contrast" onclick="event.preventDefault()">Login</button>
            </form>
        </div> -->
        <div></div>
    </div>

</body>
<script src="../public/js/script.js"></script>
</html>
