<article class="grid">
    <div>
        <hgroup>
            <h1>Sign in</h1>
            <h2>Road Quest - Start your road trip adventure</h2>
        </hgroup>
        <form>
            <input type="text" id="email_login" name="email" placeholder="Email" aria-label="email" autocomplete="email" required>
            <input type="password" id="password_login"
            name="password" placeholder="Password" aria-label="Password"
                autocomplete="current-password" required>
            <fieldset>
                <label for="remember">
                    <input type="checkbox" role="switch" id="remember" name="remember">
                    Remember me
                </label>
            </fieldset>
            <button type="submit" class="contrast" onclick="event.preventDefault()">Login</button>
        </form>
    </div>
    <div></div>
</article>

<script src="/js/login.js"></script>