<div class="container">
    <header>
        <h2 id="page-title">{{trip.user.name}}'s {{title}}</h2>
    </header>
    <article style="margin-top: 1rem;">
        <div class="parent">
            <div id="map" class="div1"> </div>
            <div id='trip-details' class="div2">
                <h5>Trip Details</h5>
                <p>Points of Interest: </p>
            <input type="text" value="{{trip.id}}" id="trip-id" hidden>
            </div>
        </div>
    </article>
</div>

<script src="/js/sharedTripsScripts.js"></script>