<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Road Quest</title>
    
    <link rel="shortcut icon" href="https://picocss.com/favicon.ico">
    <link rel="canonical" href="https://picocss.com/examples/sign-in/">
    
    <!-- Pico.css -->
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">
    
    <!-- Custom styles for this example -->
    <link rel="stylesheet" href="css/{{style}}">
    {{#if SharedTrip}}
    <script src="js/sharedTripsScripts.js"></script>
    {{/if}}
    {{!-- Google Maps Api --}}
    <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?v=3&libraries=geometry,places&key=AIzaSyAUPZyYJni5F1BhSHCcAAn10FC8pxlLI90&callback=initMap"></script>
    
</head>

<body>
    <header style="padding: 1px;">
        <!-- Only display the logout button if the user is logged in -->
        {{!-- {{#if logged_in}} --}}
         {{!-- Navbar --}}
        <nav class="container-fluid">
            {{!-- {{#if logged_in}} --}}
            {{#if true}}
            <ul>
                <li>
                    <details role="list" dir="rtl">
                        <summary class="container" aria-haspopup="listbox" role="link">Menu</summary>
                        <ul role="listbox">
                            <li><a href="#" class="contrast">Plan a Trip</a></li>
                            <li><a href="#" class="contrast">Past Trips</a></li>
                            <li><a href="#" class="contrast">Logout</a></li>
                        </ul>
                    </details>
                </li>
            </ul>
            <ul>
                <li><strong>Road Quest</strong></li>
            </ul>
            {{else}}
            <h1>
                Road Quest
            </h1>
            {{/if}}
        </nav>
        {{!-- {{/if}} --}}
    </header>
    <main style="padding: 1px;">
        {{{ body }}}
    </main>
    <footer>

    </footer>

    <!-- Only include the logout script if the user is logged in -->
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="js/{{script}}"></script>
</html>