/* Hero Image */
#map {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
  background-image: url("../images/1984494.jpg");
  /* background-position: center;
  background-size: cover; */
}

.parent {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 6 / 4; }
.div2 { 
  grid-area: 1 / 4 / 6 / 6; 
  margin-left: 2rem;
  display: inline-block;
}